*.[oa]
*.so
*.dll
*.exe
#next line is for your own tests that aren't supposed to be used by git
/*.ex.cpp
/.*.mk
/libs/.*.mk
/libs/headers/.*.mk
*.mk.2
/libs/headers/All.*
/libs/headers/.dirhash
/libs/include
#next line is discardable in your own forks
/.gitcred
